<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <servers>
    <server>
      <id>gitlab-maven</id>
      <username>Private-Token</username>
      <password>glpat-kzsxYesQ-FFykHmeQnJy</password>
      <configuration>
        <authenticationInfo>
          <userName>Private-Token</userName>
          <password>glpat-kzsxYesQ-FFykHmeQnJy</password>
        </authenticationInfo>
      </configuration>
    </server>
  </servers>
</settings>
